
        <!DOCTYPE html>
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        </head>
        <body>
        <div id='bg'>
        <div class='reply'>
            <div class='left'><div class='avatar'><img src=http://club.sanguosha.com/uc_server/avatar.php?uid=120488&size=small/></div></div>
            <div class='right'><div class='author'>瞒住机器</div>
            <div class='operate'></div>
            <div class='message'><div class="message">
                	                                        
                    	                        
                                                                            每周特惠武将算是买的最实惠时机吗。<br/>
主要是一将成名和SP武将<br/>
已经开通感觉比较强的<br/>
曹植<br/>
关兴张苞<br/>
Sp赵云<br/>
Sp蔡文姬<br/>
Sp袁术<br/>
界黄盖<br/>
陈宫<br/>
沮授<br/>
<br/>
<br/>
还未开通打算买的<br/>
<br/>
曹冲<br/>
曹叡<br/>
满宠<br/>
张星彩<br/>
钟繇<br/>
步练师<br/>
李儒<br/>
曹昂<br/>
诸葛瑾<br/>
王基<br/>
伏皇后<br/>
蔡夫人<br/>
李严<br/>
关银屏<br/>
何太后<br/>
文聘<br/>
<br/>
<br/>
大家还推荐界将                                                    </div></div>
            </div>
            </div>
            <div class='reply'>
            <div class='left'><div class='avatar'><img src=http://club.sanguosha.com/uc_server/avatar.php?uid=86680&size=small/></div></div>
            <div class='right'><div class='author'>L、夜灵</div>
            <div class='operate'></div>
            <div class='message'><div class="message">
                	                                        
                    	                        
                                                                            刘协我认为是必开武将                        </div></div>
            </div>
            </div>
            <div class='reply'>
            <div class='left'><div class='avatar'><img src=http://club.sanguosha.com/uc_server/avatar.php?uid=21297&size=small/></div></div>
            <div class='right'><div class='author'>京城名医曹大夫</div>
            <div class='operate'></div>
            <div class='message'><div class="message">
                	                                        
                    	                        
                                                                            王基<br/>
曹叡<br/>
张星彩<br/>
钟繇<br/>
步练师<br/>
李儒<br/>
曹昂<br/>
诸葛瑾<br/>
蔡夫人<br/>
何太后                        </div></div>
            </div>
            </div>
            <div class='reply'>
            <div class='left'><div class='avatar'><img src=http://club.sanguosha.com/uc_server/avatar.php?uid=21297&size=small/></div></div>
            <div class='right'><div class='author'>京城名医曹大夫</div>
            <div class='operate'></div>
            <div class='message'><div class="message">
                	                                        
                    	                        
                                                                            王基、钟繇、曹睿首选强将<br/>
界马超、李典、刘备必备强将<br/>
界陆逊、司马、周瑜、大乔可视情况选配，界周瑜是打BOSS强将                        </div></div>
            </div>
            </div>
            <div class='reply'>
            <div class='left'><div class='avatar'><img src=http://club.sanguosha.com/uc_server/avatar.php?uid=115442&size=small/></div></div>
            <div class='right'><div class='author'>影乱千江</div>
            <div class='operate'></div>
            <div class='message'><div class="message">
                	                                        
                    	                        
                                                                            界限，先吴国的，然后蜀国赵云也可以要增加sp赵云出场率，魏国先不要开，直接等开够了数去第二页开李典                        </div></div>
            </div>
            </div>
            <div class='reply'>
            <div class='left'><div class='avatar'><img src=http://club.sanguosha.com/uc_server/avatar.php?uid=125848&size=small/></div></div>
            <div class='right'><div class='author'>仔白</div>
            <div class='operate'></div>
            <div class='message'><div class="message">
                	                                        
                    	                        
                                                                            王基<br/>
曹叡<img alt="" border="0" smilieid="153" src="http://club.sanguosha.com/static/image/smiley/guojia/19.gif"/> </div></div>
            </div>
            </div>
            <div class='reply'>
            <div class='left'><div class='avatar'><img src=http://club.sanguosha.com/uc_server/avatar.php?uid=75987&size=small/></div></div>
            <div class='right'><div class='author'>arsenal</div>
            <div class='operate'></div>
            <div class='message'><div class="message">
                	                                        
                    	                        
                                                                            蔡夫人                         </div></div>
            </div>
            </div>
            <div class='reply'>
            <div class='left'><div class='avatar'><img src=http://club.sanguosha.com/uc_server/avatar.php?uid=93256&size=small/></div></div>
            <div class='right'><div class='author'>花火o</div>
            <div class='operate'></div>
            <div class='message'><div class="message">
                	                                        
                    	                        
                                                                            曹冲√<br/>
曹叡√√<br/>
满宠√<br/>
张星彩√√<br/>
钟繇√√√<br/>
步练师√√√<br/>
李儒√√<br/>
曹昂√√<br/>
诸葛瑾√√<br/>
王基√√√<br/>
伏皇后（打44√√）不打X<br/>
蔡夫人√√<br/>
李严X<br/>
关银屏XXX<br/>
何太后√（打国战√√）（打44√√√）<br/>
文聘X（打44√√）                        </div></div>
            </div>
            </div>
            <div class='reply'>
            <div class='left'><div class='avatar'><img src=http://club.sanguosha.com/uc_server/avatar.php?uid=75175&size=small/></div></div>
            <div class='right'><div class='author'>沐柳</div>
            <div class='operate'></div>
            <div class='message'><div class="message">
                	                                        
                    	                        
                                                                            。。。。关张没必要入手                        </div></div>
            </div>
            </div>
            <div class='reply'>
            <div class='left'><div class='avatar'><img src=http://club.sanguosha.com/uc_server/avatar.php?uid=108476&size=small/></div></div>
            <div class='right'><div class='author'>老万</div>
            <div class='operate'></div>
            <div class='message'><div class="message">
                	                                        
                    	                        
                                                                            只买一个的话，推荐张让                        </div></div>
            </div>
            </div>
            
        </div>
        </body>
        </html>
    